# Set DEBUG to False in Production
DEBUG=True

# Generate a cryptographically strong SECRET_KEY with
SECRET_KEY= 'n$4s)zrbz-r%@jaw7h7zbx)vwhb6!$$2_9(huq22p2dmt+zd(9'

# DATABASE_URL=postgres://username:password@host:port/db_name

DATABASE_URL=postgres://solar:solar@localhost:5432/solar

