# Set DEBUG to False in Production
DEBUG=True
# Generate a cryptographically strong SECRET_KEY with
SECRET_KEY='!!! SET ME !!!'

# Please refer to https://github.com/kennethreitz/dj-database-url for more information.
DATABASE_URL=postgres://username:password@host:port/db_name

# MEDIA_ROOT - The path in the system where the contents are uploaded to.
# For more information, refer to https://docs.djangoproject.com/en/2.1/ref/settings/#media-root
# MEDIA_ROOT='!!! SET ME !!!'

# The path in the system where collectstatic places all the static files into.
# For more information, refer to https://docs.djangoproject.com/en/2.1/ref/settings/#std:setting-STATIC_ROOT
# Also refer to https://docs.djangoproject.com/en/2.1/howto/static-files/ 
# STATIC_ROOT='!!! SET ME !!!'
