# Set DEBUG to False in Production
DEBUG=True
# Generate a cryptographically strong SECRET_KEY with
SECRET_KEY='!!! SET ME !!!'
DATABASE_URL=postgres://solar:spell@localhost:5432/solarSPELL
# MEDIA_ROOT - The place where the contents are uploaded to
MEDIA_ROOT='!!! SET ME !!!'
