/*
.accordion__item {
    border: 1px solid #1882a3;
}

.accordion__title {
    background-color: #68aacb;
    height: 30px;
    font-size: 20px;
    margin: 5px auto 5px 5px;
    padding: 0px;
}
*/

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.accordion__title h3::after {
    content: '+';
    float: right;
    margin-right: 5px;
}

.autoScrollX {
    overflow-x: auto;
}

.spellLogo {
    height: 55px;
}

/* React Sortable Tree - Display hand pointer when hovering over the row. */
.rst__row:hover {
    cursor: pointer;
}

.rst__tree button span {
    text-transform: none
}

.handPointer {
    cursor: pointer;
}

.hidden {display: none}
